body {
    padding-top: 50px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg {
    /* The image used */
    background-image: url(../Content/images/background.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeJumbotron {
    margin-top: 100px;
    margin-bottom: 80px;
}

.loginJumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
}
