@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-6 col-lg-offset-3 jumbotron homeJumbotron">
    <h1 class="text-center">MusicVision</h1>
    <p class="lead">MusicVision provides you with matching visuals for your Spotify tracks and playlists.</p>
    <p><a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-lg col-lg-12">Sign in</a></p>
</div>