@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 col-lg-offset-2 jumbotron loginJumbotron">
    <h1 class="text-center"><img src="~/Content/images/spotifyLogoBlack.png" height="90" width="300" /> Web Login</h1>
    <form>
        <div class="form-group">
            <label>User name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <br />
        <p><a href="#" class="btn btn-primary btn-lg col-sm-12">Sign in</a></p>
    </form>
</div>
