@{
    Layout = "~/Views/Shared/_LayoutLounge.cshtml";
}
<div id="app" class="container">    
    @model List<MusicVision.Models.MusicLoungeModel>
    <table>
        <tr>
            <th>Playlist Name</th>
        </tr>
        @foreach (var playlist in Model)
        {
            <tr>
                <td><button type="button" v-on:click="playlistClick()" class="btn btn-default" aria-label="Previous Track">@playlist.Playlist.Name</button></td>                
            </tr>            
        }
    </table>
    <div>
        @foreach (var playlist in Model) {
            <table>
                <tr>
                    <th>Playlist Songs</th>
                </tr>
                @foreach (var track in playlist.TrackList)
                {
                    <tr>
                        <td><button type="button" v-on:click="songClick()" class="btn btn-default" aria-label="Previous Track">@track.Name</button></td>
                    </tr>
                }
            </table>
        }
    </div>

    @*<iframe src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai"
            width="300" heaight="380" frameborder="0" allowtransparency="true"></iframe>*@
    <footer class="container-fluid">
        <div class="col-md-3" v-if="songPlaying">
            <img :src="currentSongImage" height="64" width="64" />
            <div class="btn-group">
                <button type="button" v-on:click="previousTrack()" class="btn btn-default" aria-label="Previous Track"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                <button type="button" v-on:click="playerClick('play')" class="btn btn-default" aria-label="Play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" v-on:click="pause()" class="btn btn-default" aria-label="Pause"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>                
                <button type="button" v-on:click="nextTrack()" class="btn btn-default" aria-label="Next Track"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
            </div>
            <p>{{currentSongTitle}} by {{currentSongArtist}}</p></div>
    </footer>
</div>

@*Vue.js - flexible client-side JS Framework https://vuejs.org/*@
<script src="https://unpkg.com/vue"></script>

<script>
    var tokenType;
    var accessToken;
    var app = new Vue({
        el: '#app',
        data: {
            songPlaying: true,
            currentSongImage: '',
            currentSongTitle: '',
            currentSongArtist: '',
            accessToken: '',
            tokenType: ''
        },
        methods: {            
            playerClick: function (commandName) {                
                $.ajax({
                    type: "POST",
                    url: "/Home/PlayerClick",
                    data: '{commandName:"' + commandName + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });                
            },
            playlistClick: function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/InitializePlayer",
                    data: '{name:"value"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            },
            songClick: function () {
                console.log("test");
            },
            //Player calls are still buggy - couldn't figure them out yet
            //TODO: Evaluate JS SpotifyWebAPI, decide which API Wrapper to use
            getCurrentTrack: function () {

            },
            previousTrack: function () {
                //$.ajax({
                //    url: 'https://api.spotify.com/v1/me/player/previous',
                //    type: 'POST',
                //    headers: {
                //        "Content-Type": "application/json",
                //        "Authorization": tokenType + " " + accessToken
                //    },
                //    datatype: 'jsonp'
                //});
            },
            nextTrack: function () {
                //$.ajax({
                //    url: 'https://api.spotify.com/v1/me/player/next',
                //    type: 'POST',
                //    headers: {
                //        "Content-Type": "application/json",
                //        "Authorization": tokenType + " " + accessToken
                //    },
                //    datatype: 'jsonp'
                //});
            },
            play: function () {
                playerClick('play');
            },
            pause: function () {
                //$.ajax({
                //    url: 'https://api.spotify.com/v1/me/player/pause',
                //    type: 'PUT',
                //    headers: {
                //        "Content-Type": "application/json",
                //        "Authorization": tokenType + " " + accessToken
                //    },
                //    datatype: 'jsonp'
                //});
            }
        },
        mounted() {
            var self = this;
                      
            //            self.currentSongImage = data.item.album.images[2].url,
            //            self.currentSongTitle = data.item.name,
            //            self.currentSongArtist = data.item.artists[0].name,
            //            self.songPlaying = true           
        }
    })

</script>